@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style: none;
    text-decoration:none;
    font-size:20px;
    outline:none;
    font-family: 'Mulish', sans-serif;
}
.container{
    gap:20px;
    flex-direction:column;;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    box-shadow: 10px 10px 10px 5px  rgba(0, 0, 0, 0.692);
    background: #eee;
    gap:15px;
    max-height: 50vh;
    width:500px;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
}
#city::after {
    display: block;
    content:"";
    width: inherit;  
}
#city{
    font-weight: bolder;
    letter-spacing: 1px;
}
.content{
    position:relative;
}
#placeholder {
    font-weight:bolder;
    background: transparent;
    transition:all 300ms;
    position:absolute;
    opacity: 0;
    top:9px;
    left:11px;
    display:block;
    -webkit-transition:all 300ms;
    -moz-transition:all 300ms;
    -ms-transition:all 300ms;
    -o-transition:all 300ms;
}
input{
    position:absolute;
    display: block;
    position:relative;
    border:none;
    padding:10px;
}.content input:focus + #placeholder{
    display:inline-block;
    opacity:1;
    top:-25px;
    
}.content input:valid + #placeholder{
    display:inline-block;
    opacity:1;
    top:-25px;
    
}button{
    width: 200px;
}

.weather{
    margin-top:10px;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    max-height:20vh;
    transition:500ms all;
    gap:10px;
    width: 500px;
    background: #eee;
    box-shadow: 10px 10px 10px 5px  rgba(0, 0, 0, 0.692);
    -webkit-transition:500ms all;
    -moz-transition:500ms all;
    -ms-transition:500ms all;
    -o-transition:500ms all;
}.weather:hover{
    transform:scale(1.4);
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -ms-transform:scale(1.4);
    -o-transform:scale(1.4);
}













